<h1>Here are all your workouts!</h1>

<%= button_to 'Update', new_workout_path, :method => :get %>

<% @workouts.each do |workout| %>
<table class="workouts">
  <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to workout.name, workout, method: :get %></td>
      </tr>
    </tbody>
</table>

<%= button_to 'Delete', workout, method: :delete %>
<% end %>
