// Place all the styles related to the stages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h6 {
  padding-left: 40px;
}

p {
  display: inline block;
}

navbar-nav {
  text-align: center;
  font-size: 10pt;
}

ul [class="dropdown-menu"]{
  background-color: white;
  border: 3px solid #4CAF60;
  border-radius: 20px;
}

div.delete {
  padding-top: 7px;
  margin-left: 10px;
  float: left;
}
div.edit {
  padding-top: 7px;
  padding-left: 80px;
  float:none;
}

nav {
  border-color: #4CAF60;
  background-color: rgb(70, 70, 70);
  text-align: center;
  font-size: 10pt;
}

table {
  background-color: rgba(#4caf60, 0.65);
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  size: 200px;
  border-radius: 10px;
}

th {
  border-bottom: 2px solid rgb(122, 118, 116);
  border-left: 1px solid black;
  padding: 15px;
}

td {
border-left: 1px solid black;
padding: 15px;
}

input[type=submit] {
  font-size: 12pt;
  border-radius: 10px;
  background-color: #4CAF60;
}

input[type=text] {
  border-radius: 10px;
  text-align: center;
  font-size: 15pt;
  font-family: sans-serif;
}

label {
  border-radius: 15px;
  margin-left: 10px;
  font-size: 15pt;
}

h1 {
  font-family: Courier New;
  padding-left: 30px;
}

div.first {
  float: left;
}

div.second {
  float: none;
  padding-left: 350px;
}

div.save {
  float: right;
}
